/* Colors and Styles (Default) */
:root {
  --PrimaryColor: hsl(94, 59%, 35%);
  --HoverColor: #dbf094;
  --paleGreen: hsl(96, 75%, 89%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --textColor: hsl(240, 1%, 48%);
  --bgColor: hsl(220, 10%, 94%);
  --greyText: rgb(190, 190, 190);
  --inputColor: hsl(330, 12%, 97%);

  /* font ang Typography */
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
}

.topSection {
  .headerSection {
    justify-content: space-between;

    .title {
      h1 {
        font-size: var(--h1FontSize);
        color: var(--blackColor);
        font-weight: 700;
      }
      p {
        font-size: var(--normalFontSize);
        color: var(--textColor);
        font-weight: 500;
      }
    }
    .searchBar {
      padding: 1rem 2rem;
      background: var(--whiteColor);
      border-radius: 5px;
      gap: 1rem;
      box-shadow: 0 2px 4px var(--inputColor);

      input {
        border: none;
        outline: none;
        background: none;
      }
      .icon {
        color: var(--textColor);
        &:hover {
          color: var(--PrimaryColor);
        }
      }
    }
    .adminDiv {
      gap: 1rem;

      .icon {
        font-size: var(--biggestFontSize);
        background: var(--whiteColor);
        border-radius: 5px;
        padding: 5px;
        box-shadow: 0 2px 4px var(--inputColor);
        color: var(--textColor);
      }
      .adminImage {
        border: 3px solid var(--whiteColor);
        width: 2.5rem;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 2px 4px var(--inputColor);

        img {
          width: 100%;
          height: 100%;
          border-radius: 10px;
        }
      }
    }
  }
  .cardSection {
    margin-top: 3rem;
    gap: 1rem;

    .rightCard {
      position: relative;
      flex-basis: 70%;
      height: 200px;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin: auto;
      padding: 2rem;
      border-radius: 1rem;
      overflow: hidden;

      .videoDiv {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        video {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      h1,
      p,
      .btn {
        z-index: 100;
      }
      h1 {
        font-size: var(--h1FontSize);
        color: var(--whiteColor);
        font-weight: 800;
      }
      p {
        padding: 1rem;
        color: var(--paleGreen);
        font-weight: 500;
      }
      .buttons {
        gap: 1rem;

        .btn {
          box-shadow: none;
          padding: 0.8rem 1.5rem;
          color: var(--PrimaryColor);
          border-radius: 2px solid transparent;
        }
        .transparent {
          background: none;
          border: 2px solid var(--paleGreen);
          color: var(--paleGreen);

          &:hover {
            background: var(--paleGreen);
            color: var(--PrimaryColor);
          }
        }
      }
    }

    .leftCard {
      flex-basis: 50%;
      .main {
        position: relative;
        padding: 1rem;
        height: 200px;
        border-radius: 1rem;
        justify-content: space-between;

        &::before {
          content: "";
          position: absolute;
          height: 100%;
          width: 75%;
          background: var(--paleGreen);
          left: 0;
          bottom: 0;
          border-radius: 1rem;
        }
        .textDiv {
          z-index: 100;

          h1 {
            font-size: var(--h1FontSize);
            padding-bottom: 1rem;
            color: var(--blackColor);
          }
          .flex {
            gap: 1.5rem;
            font-weight: 500;
            color: var(--blackColor);

            small {
              font-size: var(--normalFontSize);
              display: block;
              color: var(--PrimaryColor);
              font-weight: 500;
              padding: 0.5rem 0;
            }
          }
          .link {
            margin-top: 2rem;
            cursor: pointer;

            &:hover {
              color: var(--PrimaryColor);

              .icon {
                transform: translateX(10px);
                transition: 0.3s ease;
              }
            }
          }
        }
        .imgDiv {
          transform: translateY(-20px);
          width: 200px;
        }
      }
    }
  }
}
