/* Colors and Styles (Default) */
:root {
  --PrimaryColor: #2565bb;
  /* --PrimaryColor: hsl(94, 59%, 35%); */
  --HoverColor: #dbf094;
  --paleGreen: hsl(96, 75%, 89%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --textColor: hsl(240, 1%, 48%);
  --bgColor: hsl(220, 10%, 94%);
  --greyText: rgb(190, 190, 190);
  --inputColor: hsl(330, 12%, 97%);

  /* font ang Typography */
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
}

.AuthPage {
  width: 80%;
  padding: 2rem;
  gap: 1rem;

  button {
    box-shadow: none;
    padding: 0.5rem 1rem;
    color: var(--PrimaryColor);
    border-radius: 2px solid transparent;
  }

  form {
    h1 {
      margin: 1.5rem;
      font-size: var(--h1FontSize);
      color: var(--blackColor);
      font-weight: 700;
    }
    .err {
      color: var(--blackColor);
      font-size: var(--h3FontSize);
    }
    .text {
      padding: 1rem 2rem;
      background: var(--whiteColor);
      border-radius: 5px;
      gap: 1rem;
      box-shadow: 0 2px 4px var(--inputColor);

      input {
        border: none;
        outline: none;
        background: none;
      }

      label {
        font-size: var(--h3FontSize);
        font-weight: 500;
      }
    }
  }
}
